name: flutter_application
description: "A new Flutter project."

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

  intl: ^0.19.0
  path_provider: ^2.1.4
  fl_chart: ^0.66.2
  image_picker: ^1.1.2
  flutter_local_notifications: ^17.2.1+2
  uuid: ^4.5.1
  collection: ^1.18.0
  cupertino_icons: ^1.0.8
  sqflite: ^2.3.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
